.App {
	max-width: 1200px;
	width: 100%;
	min-height: 100vh;
	box-shadow: 0 0 20px #eee;
	overflow: hidden;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
button {
	border: none;
	outline: none;
	cursor: pointer;
}

/* ----------- Header ---------------------- */
@import url('./components/header/header.css');

/* ---------------- auth -------------------------- */
@import url('./components/body/auth/auth.css');

/* ---------------- profile -------------------------- */
@import url('./components/body/profile/profile.css');
